<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="_packages" />
    <add key="dependencyVersion" value="HighestPatch" />
  </config>
  <packageSources>
    <clear /><!-- ensure only the sources defined below are used -->
  </packageSources>
</configuration>
